{% extends "base.html" %}

{% block content %}
<h2>Activity Logs</h2>

<table class="table table-bordered text-center">
    <thead class="table-dark">
        <tr>
            <th>User Role</th>
            <th>Action</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.username }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.timestamp.strftime("%d/%m/%Y %H:%M") }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}