{% extends "base.html" %}

{% block content %}
<h2 class="mb-4 text-center">สาย {{ category.name }}</h2>

<div class="row">
    {% for product in category.products %}
    <div class="col-md-3 mb-4">
        <div class="card shadow-sm text-center">
            <img src="{{ url_for('static', filename='images/' + product.image) }}"
                 class="card-img-top"
                 style="height:200px; object-fit:cover;">
            <div class="card-body">
                <h6>{{ product.name }}</h6>
                <p>{{ product.price }} บาท</p>
                <p>คงเหลือ: {{ product.stock }} ชิ้น</p>
                {% if product.stock > 0 %}
                <a href="{{ url_for('main.add_to_cart', product_id=product.id) }}" 
                    class="btn btn-success btn-sm">
                    เพิ่มลงตะกร้า
                </a>
                {% else %}
                <button class="btn btn-danger btn-sm" disabled>
                    สินค้าหมด
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}