{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">แก้ไขสินค้า</h2>

<form method="POST">
    <div class="mb-3">
        <label>ชื่อสินค้า</label>
        <input type="text" name="name"
               class="form-control"
               value="{{ product.name }}" required>
    </div>

    <div class="mb-3">
        <label>ราคา</label>
        <input type="number" name="price"
               class="form-control"
               value="{{ product.price }}" required>
    </div>

    <div class="mb-3">
        <label>จำนวน Stock</label>
        <input type="number" name="stock"
               class="form-control"
               value="{{ product.stock }}" required>
    </div>

    <div class="mb-3">
        <label>ชื่อไฟล์รูป</label>
        <input type="text" name="image"
               class="form-control"
               value="{{ product.image }}" required>
    </div>

    <div class="mb-3">
        <label>หมวดหมู่</label>
        <select name="category_id" class="form-control">
            {% for c in categories %}
            <option value="{{ c.id }}"
                {% if c.id == product.category_id %}selected{% endif %}>
                {{ c.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <button class="btn btn-primary">บันทึกการแก้ไข</button>
</form>

{% endblock %}